*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.app{
background: #fff;
padding:20px;
width: 350px;
border-radius: 8px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

.task-box{
    display:flex;
    gap:10px;
    margin-top: 15px;
}

input{
    flex: 1;
    padding: 8px;
}

ul{
    margin-top: 20px;
    padding-left: 20px;
}